* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn-link {
  font-weight: 300;
  padding: 4px 8px;
  color: #4b9ba7;
}
.btn-link:visited {
  color: #bc65a5;
}
.btn-link:hover, .btn-link:active {
  color: #ffffff;
  background-color: #4b9ba7;
}

.card {
  flex-grow: 1;
  flex-basis: 30%;
  margin: 10px 20px;
  padding: 40px 20px;
  display: inline-block;
  border: 1px solid #c4c4c4;
}
.card:nth-child(1) {
  border-top: 2px solid #4b9ba7;
}
.card:nth-child(2) {
  border-top: 2px solid #7ec06b;
  flex-basis: 63%;
}
.card:nth-child(3) {
  border-top: 2px solid #f4d44d;
}
.card:nth-child(4) {
  border-top: 2px solid #ef8c3f;
}
.card:nth-child(5) {
  border-top: 2px solid #e46ca2;
}
.card:nth-child(6) {
  border-top: 2px solid #bc65a5;
  flex-basis: 100%;
}
.card:nth-child(7) {
  border-top: 2px solid #4b9ba7;
}
.card:nth-child(8) {
  border-top: 2px solid #7ec06b;
}
.card:hover {
  border-top-width: 5px;
  padding-top: 35px;
  transition: padding-top 0.5s 0.1s, border 1.2s 0;
}

